body{
   
font-family: 'futura-pt', sans-serif;

font-weight: 500;

font-style: normal;
}
nav{
    background-color: #EE6055!important;
}
.navbar{
    
    color: #FDFFFC;
    padding: 80px!important;
}
.modal-trigger:hover{
    text-decoration: underline;
    background-color: inherit;
}
#signout:hover{
    text-decoration: underline;
    background-color: inherit;  
}
#redWaveContainer{
    padding: 20px;
    text-align: center;
}
#redWave{
    width: 10%;
    text-align: center;
}
h1{
    font-size: 40px!important;
}
h3{
    font-size: 24px!important;
}
a{
    font-size: 18px!important;
}
button{
    font-size: 18px!important;
}

#topCardsContainer{
    align-items: center!important;
    margin-right: 100px;
   
}
/* need to change width and height settings here and alignment*/
#firstCard,#secondCard,#thirdCard{
    margin: 10px;
    padding: 10px;
    align-content: center;
    height: 400px;
    background-color: #EE6055;
    color: #FDFFFC;
    
   
}
.card-title{
    text-align: center;
}
#whiteWave{
    width: 30%;
}

/* practicing with fade ins */
* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 12px;
  }