body{
   
font-family: 'futura-pt', sans-serif;

font-weight: 500;

font-style: normal;
}
nav{
    background-color: #EE6055!important;
    padding: 80px;
}
.navbar{
    
    color: #FDFFFC;
    
    
}
.brand-logo{
    font-size: 60px!important;
    /* padding: 50px; */
    padding-bottom: 50px!important;
    align-content: center!important;
}
.modal{
  
  background-color: #F3D9DC!important;
  width: 50%!important;
  height: 600px!important;
}
.modal-trigger:hover{
    text-decoration: underline;
    background-color: inherit;
}
.modal-content{
  background-color: #F3D9DC;
  text-align: center;
  width: 100%;
}
.modal-content img{
  width: 10%!important;
}
/* .dropdown-trigger{
  background-color: inherit!important;
  text-transform: none!important;
  border: none!important;
  box-shadow: none!important;
}
.dropdown:hover{
text-decoration: underline!important;
}
.btn{
  text-decoration: none!important;
  text-transform: inherit;
}
.dropdown-content{
  height: 80px;
  background-color: #EE6055;
}
.dropdown-content li{
  background-color: #EE6055;
}
.dropdown-content li img{
  width: 30%!important;
} */

#signout:hover{
    text-decoration: underline;
    background-color: inherit;  
}
#redWaveContainer{
    padding: 20px;
    text-align: center;
}
#redWave{
    width: 10%;
    text-align: center;
}
#topImageContainer,#midImageContainer{
    margin-top: 100px;
    
    background-color: #F3D9DC;
    text-align: center;
    width: 80%;
    height: 600px;
}


h1{
    font-size: 40px!important;
}
h3{
    font-size: 24px!important;
}
a{
    font-size: 18px!important;
}
button{
    font-size: 18px!important;
}
#ladiesOutfitsImage{
  width: 60%;
}
#topCardsContainer{
  align-content: center!important;
    align-items: center!important;
    text-align: center!important;
    margin: 10px;
    padding: 20px;
    
    
    /* padding: 0px!important;
    top: 50%;
    left: 50%;
    right: 50%; */
    /* margin-right: 100px; */
   
}

/* need to change width and height settings here and alignment*/
.row{
  margin-right: 15px!important;
  margin-bottom: 0!important;
}
/* #secondCard{
  
    margin: 10px;
    
    padding: 10px;
    align-content: center;
    height: 400px;
    background-color: #EE6055;
    color: #FDFFFC;
    
   
}
#firstCard{
  margin: 10px;
 
  padding: 10px;
  align-content: center;
  height: 400px;
  background-color: #EE6055;
  color: #FDFFFC;
  
}
#thirdCard{
 
  

  height: 400px;
  background-color: #EE6055;
  color: #FDFFFC;
} */
.container{
  width: 100%!important;
  text-align: center;
  
 
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  margin: 10px;
  margin-left: 30px!important;
  
}
.card{
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #EE6055!important;
  color: #FDFFFC;
  width: 25%!important;
  margin: 10px!important;
  padding: 20px!important;
}
#cardOne,#cardTwo,#cardThree{
  margin: auto!important;
  text-align: center!important;

  width:28%!important;
  padding: 20px;
 margin-left:10px!important;
 margin-right: 10px!important;
  height: 400px;
  background-color: #EE6055!important;
  color: #FDFFFC;
}
/* cardswill take up 100% of width if smaller than 991px wide */
@media only screen and (max-width: 991px) {
    #firstCard,#secondCard,#thirdCard {
      width: 100%;
    }
    #instaPhoto{
        width: 100%!important;
    }
    #ladiesOutfitsImage{
      width: 45%;
    }
    #topImageContainer,#midImageContainer{
     height: 200px;
  }
  }
  /* cardswill take up 30% of width if atleast 992px wide */
@media only screen and (min-width: 992px) {
    #firstCard,#secondCard,#thirdCard {
      width: 30%;
    }
    #instaPhoto{
      width: 20%!important;
  }
  }
.card-title{
    text-align: center;
}
#whiteWave{
    width: 30%;
}

/* practicing with fade ins */
* {
    box-sizing: border-box;
  }
  
  .item {
      /* float: left; */
   
    width: 80%;
    height: 600px;
    margin: 0 auto;
    
    padding: 20px;
    background: #EE6055;
    text-align: center;
    align-content: center!important;
    color: #FDFFFC;
    font-size: 12px;
  }

  #outfitOne{
     float: right;
    display:none;
  
    position: relative;
    left: -400px;
    animation: slide 0.4sforwards;
    -webkit-animation: slide 0.4s forwards;
    
  }
  #outfitTwo{
    float: left;
    display:none;
    
    position: relative;
    right: -400px;
    animation: slide 0.4sforwards;
    -webkit-animation: slide 0.4s forwards;
  }
  @-webkit-keyframes slide {
    100% {
      left: 0;
      right: 0;
    }
  }
  @keyframes slide {
    100% {
      left: 0;
      right: 0;
    }
  }
  #orCont{
     
      text-align: center;
  }

  #instaPhoto{
      
    /* height: 300px; */
  justify-content: center;
  align-items: center;
  background-color: #F3D9DC!important;
  color: black;
  /* width: 20%!important; */
  margin: 10px!important;
  /* padding: 20px!important; */
  
    
  }
  #instafeed-container{
    /* margin: 10px!important;
    padding: 10px!important;
    height: 200px!important;
    justify-content: center!important;
    flex-wrap: wrap!important;
    text-align: center!important; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin: 5px;
    margin-left: 30px!important;
  }
  #instafeed-container img{
    
    border-color: #F3D9DC!important;
    width: 100%!important;
  }
 .wrap{
    justify-content: center!important;
    /* text-align: left!important; */
    padding: 20px!important;
    margin: 5px!important;
    margin-right: auto!important;
    display: inline-block!important;
    background-color: #F3D9DC!important;
    width: 20%!important;
    /* max-height: 20px!important; */

  }
